@font-face {
    font-family: Nunito SemiBold;
    src: url("../fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: Nunito Bold;
    src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: Nunito Light;
    src: url("../fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: Nunito Italic;
    src: url("../fonts/Nunito-Italic.ttf");
}

@font-face {
    font-family: Andantino;
    src: url("../fonts/Andantino.ttf");
}

@font-face {
    font-family: Gotham;
    src: url("../fonts/Gotham.ttf");
}

@font-face {
    font-family: Aquarelle;
    src: url("../fonts/Aquarelle1.ttf");
}

button:active, button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    background: #ffffff;
    color: #370E1D;
}

button {
    cursor: pointer;
}

.header-block {
    box-shadow: 0 4px 15px rgba(55, 14, 29, 0.05);
    background: #F9F4F2;

}

.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 90px;
    text-align: center;
}

.logo .logo-title {
    font-family: Aquarelle, sans-serif;
    font-size: 20px;
    margin-bottom: 6px;
    line-height: 29px;
}

.logo .logo-description {
    margin-top: 10px;
    font-family: Gotham Pro, sans-serif;
    font-size: 10px;
    line-height: 10px;
}

.menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 159px;
}

.menu a {
    color: #370E1D;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    transition: 0.2s all ease;
    text-decoration: none;
}

.menu a:hover {
    color: #B78781;
}

.main-number {
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    margin-right: 50px;
}

.call-back-btn button {
    padding: 12px 19px;
    outline: 0;
    background: #F8F3F0;
    border: 1px solid #B78781;
    box-sizing: border-box;
    border-radius: 44px;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #8A5C56;
    transition: 0.2s all ease;
}

.call-back-btn button:hover {
    box-shadow: 0 2px 8px rgba(55, 14, 29, 0.1);
    border-radius: 44px;
}

#main-bg {
    background: url("../images/main-bg-index.png");
    background-position: top center;
}

#main-block {
    opacity: 1;
    background: transparent;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    height: 703px;
}

#main-container {
    background: rgba(248, 243, 240, 0.8);
    border-radius: 5px;
    position: absolute;
    background-size: cover;
    margin-top: 142px;
    padding: 100px 74px 11px 100px;
    z-index: 1;
    top: -20px;
    left: -100px;
}

#main-title {
    font-family: Aquarelle, sans-serif;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: #370E1D;
}

#main-text {
    width: 420px;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #370E1D;
    margin: 10px 0 30px 0;
}

#main-action {
    padding-bottom: 58px;
}

#main-action button {
    padding: 13px 31px;
    outline: 0;
    border: 0;
    background: #B78781;
    border-radius: 44px;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.3s all ease-in-out;
}

#main-action button:hover {
    background: linear-gradient(180deg, #B78781 0%, #8A5C56 100%), #C1968F;
    box-shadow: 0 2px 8px rgba(55, 14, 29, 0.1);
}

#main-img {
    position: absolute;
    top: 81px;
    z-index: 1;
    right: 5px;
}

#main-container-absolute {
    position: absolute;
    bottom: 186px;
    left: -68px;
    border: 1px solid #C1968F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 596px;
    height: 374px;
    z-index: 0;
}

#main-container-absolute-opacity {
    position: absolute;
    opacity: 0.6;
    bottom: 148px;
    left: -50px;
    border: 1px solid #C1968F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 596px;
    height: 374px;
    z-index: -1;
}

#about-block {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 160px;
}

.block-title {
    font-family: Aquarelle, sans-serif;
    font-size: 36px;
    line-height: 52px;
    color: #370E1D;
    text-align: center;
}

#about-container {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-text-items {
    margin-right: 48px;
}

.about-text-item {
    width: 308px;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #370E1D;
    margin-bottom: 30px;
}

.about-text-item span {
    font-family: Nunito Bold, sans-serif;
}

.about-text-item:nth-child(2), .about-text-item:nth-child(3) {
    padding-left: 50px;
}

#about-img-left {
    position: absolute;
    bottom: -53px;
    left: -51px;
}

#about-img-butterflies {
    position: absolute;
    top: -192px;
    right: 9px;
}

#about-img {
    margin-bottom: 20px;
}

#advantages-block {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
}

#advantages-container {
    position: relative;
    border: 1px solid rgba(193, 150, 143, 0.75);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 60px 100px;
}

.advantages-item {
    margin-bottom: 10px;
    width: 278px;
    margin-right: 43px;
}

.advantages-icon {
    margin-left: 20px;
}

.advantages-title {
    width: 251px;
    margin: 20px 0 14px 0;
    font-family: Nunito Bold, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #370E1D;
}

.advantages-text {
    height: 95px;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #370E1D;
}

.first {
    width: 202px;
}

.second {
    width: 229px;
}

.third {
    width: 253px;
}

.fouth {
    width: 203px;
}

.fith {
    width: 278px;
}

#advantages-img {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#services-block {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
}

#two-hearts {
    position: absolute;
    right: -40px;
    bottom: 200px;
}

#almaz {
    position: absolute;
    left: -40px;
    top: 200px;
}

#services-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@supports not (-ms-ime-align: auto) {
    #services-container {
        justify-content: space-evenly
    }
}

.services-item {
    text-align: center;
    transition: 0.2s all ease;
}

.services-item:hover {
    box-shadow: 0px 4px 20px rgba(55, 14, 29, 0.1);
    border-radius: 6px;
}

.services-title {
    font-family: Nunito Bold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #370E1D;
    text-align: center;
    padding: 20px 0;
}

.services-text {
    margin: 0 auto;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    width: 250px;
}

.second-service-txt {
    width: 285px;
}

.services-price {
    font-family: Nunito Bold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 0;
}

.services-action {
    margin-bottom: 50px;
}

.services-action button {
    padding: 13px 47px;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: #B78781;
    border-radius: 44px;
    transition: 0.4s all ease;
}

.services-action button:hover {
    background: linear-gradient(180deg, #B78781 0%, #8A5C56 100%), #C1968F;
    box-shadow: 0 2px 8px rgba(55, 14, 29, 0.1);
}

.services-img {
    position: relative;
    text-align: center;
    width: 440px;
}

.services-img-main {
    width: 100%;
}

.services-img .services-heart {
    position: absolute;
    bottom: -19px;
    left: 189px;
}

#quote-block {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 190px;
    position: relative;
}

#quote {
    margin: 0 auto;
    padding: 40px 160px 100px 160px;
    background: #F9F4F2;
    border-radius: 6px;
    width: 835px;
    font-family: Aquarelle, sans-serif;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}

#quote-img {
    position: absolute;
    bottom: 219px;
    left: 265px;
}

#portfolio-block {
    position: relative;
    padding-bottom: 190px;
    max-width: 1170px;
    margin: 0 auto;
}

#portfolio-hearts {
    position: absolute;
    top: 0;
    left: -110px;
}

#bant {
    position: absolute;
    bottom: -10px;
    right: -100px;
}

#portfolio-container {
    padding-top: 50px;
}

.portfolio-item {
    position: relative;
    cursor: pointer;
    padding: 5px 20px;
    outline: 0;
    transition: 0.2s all ease;
}

.portfolio-item img:hover {
    box-shadow: 0 4px 20px rgba(55, 14, 29, 0.1);
}

.portfolio-img {
    border-radius: 15px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.portfolio-container-text {
    background: #F9F4F2;
    position: absolute;
    bottom: 20px;
    width: 350px;
    height: 128px;
    left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-names {
    margin: 0 auto 10px auto;
    font-family: Aquarelle, sans-serif;
    font-size: 24px;
    line-height: 35px;
    color: #370E1D;
}

#stock-design-block {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
}

#stock-design-container {
    margin: 0 auto;
    display: flex;
    width: 970px;
    background: #FDFCFC;
    box-shadow: 0 2px 15px rgba(55, 14, 29, 0.05);
    border-radius: 5px;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
}

#stock-design-box {
    width: 970px;
    height: 382px;
    position: absolute;
    background: transparent;
    z-index: 0;
    bottom: 121px;
    right: 83px;
    border: 1px solid #D2BEBC;
    box-sizing: border-box;
    border-radius: 5px;
}

#stock-design-text {
    padding-top: 85px;
    width: 441px;
    margin-right: 57px;
}

#stock-design-description {
    font-family: Nunito SemiBold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 12px 0;
    text-align: center;
}

#stock-design-description span {
    font-family: Nunito Bold, sans-serif;
}

.stock-design-img {
    margin-right: 50px;
}

#stock-design-note {
    font-family: Nunito, sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #370E1D;
}

#blog-block {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
}

#almaz-blog {
    position: absolute;
    top: 250px;
    left: -90px;
}

#blog-container {
    padding-top: 45px;
}

.blog-item {
    margin: 5px 16px;
    position: relative;
    width: 350px;
    height: 520px;
    outline: 0;
    transition: 0.2s all ease;
}

.blog-item:hover {
    box-shadow: 0 4px 15px rgba(55, 14, 29, 0.16);
    border-radius: 5px;
}

.blog-title {
    width: 298px;
    margin: 30px 0 20px 20px;
    font-family: Nunito Bold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #370E1D;
}

.blog-description {
    width: 300px;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
}

.blog-link {
    cursor: pointer;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 4px;
    border-bottom: 1px solid #D2BEBC;
    position: absolute;
    bottom: 26px;
    left: 34px;
}

.blog-link a {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 4px;
    border-bottom: 1px solid #D2BEBC;
    text-decoration: none;
    outline: 0;
}

.slick-next:before {
    content: url("../images/arrow.png");
}

.slick-prev {
    transform: rotate(180deg);
}

.slick-prev:before {
    content: url("../images/arrow.png");
}

.slick-prev:before, .slick-next:before {
    opacity: 0.45;
    transition: 0.3s all ease;
}

#review-block {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
    position: relative;
}

#review-container .slick-prev {
    left: -45px;
}

#review-container .slick-next {
    right: -45px;
}

#bokal {
    position: absolute;
    top: 185px;
    left: 96px;
}

#review-heart {
    position: absolute;
    bottom: 193px;
    right: -20px;
}

#review-container {
    box-shadow: 0 2px 15px rgba(55, 14, 29, 0.05);
    border-radius: 10px;
    padding-top: 40px;
    width: 875px;
    margin: 50px auto 0 auto;
}

.review-item {
    outline: 0;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review-img {
    text-align: center;
    border-radius: 50%;
    margin: 38px auto;
    overflow: hidden;
}

.review-name {
    font-family: Andantino, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #370E1D;
    padding-bottom: 10px;
    position: relative;
}

.review-brunch {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
}

.review-brunch img {
    margin: 0 auto;
    text-align: center;
}

.review-text {
    padding: 40px 85px;
    margin-bottom: 40px;
    background: #F9F4F2;
    border-radius: 10px;
    width: 610px;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #370E1D;
    height: 192px;
}

.review-text-KB {
    width: 565px;
}

.review-text-DI {
    width: 510px;
}

.review-text span {
    font-family: Nunito Bold, sans-serif;
}

.review-flowers {
    position: absolute;
    left: 148px;
    bottom: 136px;
}

#stock-block {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 140px;
}

#stock-container {
    background: #FFFFFF;
    width: 968px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

#stock-text {
    padding-left: 113px;
    width: 405px;
    background: #fbfbfb;
    padding-bottom: 3px;
}

#stock-title {
    margin: 0 auto;
    width: 105px;
    padding-top: 112px;
    padding-bottom: 12px;
    text-align: center;
    font-family: Aquarelle, sans-serif;
    font-size: 36px;
    line-height: 52px;
    color: #370E1D;
}

#stock-description {
    width: 405px;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #370E1D;
    padding: 8px 0 148px 0;

}

#stock-description span {
    font-family: Nunito Bold, sans-serif;
}

#stock-img {
    position: absolute;
    top: -12px;
    right: -57px
}

#stock-women {
    position: absolute;
    bottom: -74px;
    left: -61px;
}

#stock-box {
    position: absolute;
    width: 960px;
    height: 382px;
    bottom: 120px;
    right: 40px;
    border: 1px solid #D2BEBC;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 0;
}

#questions-block {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
}

#bells {
    position: absolute;
    left: -50px;
    top: 0;
}

#flowers-question {
    position: absolute;
    right: -150px;
    bottom: 150px;
}

#questions-container {
    padding-top: 50px;
}

.accordion {
    position: relative;
    background: #FFFFFF;
    cursor: pointer;
    outline: 0;
    border: 0;
    width: 90%;
    font-family: Nunito Bold, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    color: #370E1D;
    padding: 15px 0 0 15px;
    text-align: left;
    margin-bottom: 0;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    width: 571px;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #370E1D;
    transition: 0.2s all ease-in-out;
}

.accordion::after {
    content: "+";
    font-size: 40px;
    padding: 0 10px;
    line-height: 43px;
    background: #B78781;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
}

.accordion.is-open::after {
    color: #370E1D;
    transform: rotate(45deg);
    background: #F9F4F2;
}

.order-block {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.order-content {
    background: #F8F3F0;;
    position: relative;
    box-shadow: 0 2px 15px rgba(55, 14, 29, 0.05);
    border-radius: 10px;
}

.order-content .block-title {
    text-align: left;
    padding: 40px;
}

.order-inputs {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 10px;
}

.order-input {
    position: relative;
    margin-bottom: 30px;

}

.order-input input {
    width: 235px;
    outline: 0;
    padding: 10px 5px 10px 20px;
    background: #FDFCFC;
    border: 1px solid #C29892;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #370E1D;
    transition: 0.2s all ease;
}

.order-input input::placeholder {
    font-family: Nunito SemiBold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #370E1D;
}

.order-inputs-right {
    margin-left: 100px;
}

.error-type {
    display: block;
    font-family: Nunito SemiBold, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: transparent;
    position: absolute;
    bottom: -16px;
    left: 22px;
    transition: 0.3s all ease;
}

.order-img {
    position: absolute;
    right: 78px;
    bottom: 22px;
}

.order-action button {
    padding: 13px 33px;
    background: #B78781;
    border-radius: 44px;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-in-out;
}

.order-action {
    padding: 0 0 40px 40px;
}

.order-action button:hover {
    background: linear-gradient(180deg, #B78781 0%, #8A5C56 100%), #C1968F;
    box-shadow: 0 2px 8px rgba(55, 14, 29, 0.1);
}

#footer-block {
    box-shadow: 0 4px 15px rgba(55, 14, 29, 0.05);
    background: #F9F4F2;
}

#footer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-back-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(55, 14, 29, 0.4);
    z-index: 9999;
}

#call-back-container {
    position: relative;
    max-width: 726px;
    margin: 10px;
    background: #F8F3F0;
    box-shadow: 0 2px 15px rgba(55, 14, 29, 0.05);
    border-radius: 10px;
}

#call-back-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#call-back-title {
    font-family: Aquarelle, sans-serif;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
    margin: 40px;
}

#call-back-action {
    margin: 40px;
}

#call-back-action button {
    padding: 12px 47px;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #B78781;
    border-radius: 44px;
    transition: 0.3s all ease-in-out;
    outline: 0;
    border: 0;
}

#call-back-action button:hover {
    background: linear-gradient(180deg, #B78781 0%, #8A5C56 100%), #C1968F;
    box-shadow: 0 2px 8px rgba(55, 14, 29, 0.1);
}

#call-back-container .order-input {
    margin-left: 40px;
}

#call-back-img {
    position: absolute;
    top: 104px;
    right: 33px;
}


/*Статьи*/

.main-block {
    background: url("../images/main-bg.png");
    background-position: top center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main-container {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 190px 0 140px 0;
}

.main-text {

}

.main-text h3 {
    font-family: Nunito Bold, sans-serif;
    font-size: 36px;
    line-height: 49px;
    color: #370E1D;
    width: 500px;
}

.main-description {
    margin-top: 30px;
    width: 489px;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #370E1D;
}

.main-img img {
    width: 556px;
    height: 373px;
    border-radius: 5px;
}

.main-img {
    position: relative;
    z-index: 1;
    margin-right: 25px;
}

.main-box-absolute {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 181px;
    width: 569px;
    height: 374px;
    border: 1px solid #C1968F;
    box-sizing: border-box;
    border-radius: 5px;
}

.article-content {
    max-width: 1086px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 140px;
}

.article-text {
    width: 733px;
}

.article-links .blog-item {
    margin-bottom: 40px;
    height: 363px;
    width: 290px;
}

.article-links .blog-item .blog-title {
    height: 250px;
    width: 290px;
}

.article-links .blog-item .blog-img {
    width: 290px;
    height: 200px;
}

.article-links .blog-item .blog-img img {
    width: 100%;
    height: 100%;
}

.article-text-title {
    font-family: Nunito Bold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #370E1D;
    margin-top: 30px;
}

.article-text-title-2 {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #370E1D;
    margin-top: 30px;
    text-transform: uppercase;
}

.article-text-description {
    font-family: Nunito, sans-serif;
    font-size: 15px;
    line-height: 25px;
    width: 690px;
    color: #370E1D;
    margin-top: 30px;
}

.article-text-description span {
    font-family: Nunito Bold, sans-serif;
}

.article-text-img {
    margin-top: 30px;
}

.article-text-ps {
    margin-top: 30px;
    width: 665px;
    font-size: 15px;
    line-height: 20px;
    color: #370E1D;
    font-family: Nunito Italic, sans-serif;
}

.article-links-container {
    position: relative;
}

.article-links {
    position: sticky;
    top: 110px;
    left: 0;
}
.header-article-block {
    box-shadow: 0 4px 15px rgba(55, 14, 29, 0.05);
    background: #F9F4F2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.footer-block {
    box-shadow: 0 4px 15px rgba(55, 14, 29, 0.05);
    background: #F9F4F2;
}
.footer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-text-title span {
    font-family: Nunito SemiBold, sans-serif;
}
.portfolio-gallery {
    margin: 60px 0 150px 0;
}
.gallery-img {
    margin: 0 50px;
    outline: 0;
    width: 290px;
    height: 360px;
}
.gallery-img img {
    width: 100%;
    height: 100%;
}
#portfolio-btn-back {
    margin: 25px auto;
    text-align: center;
}
#daria-ivan, #kamilla-bogdat , #natalia-sergei {
    display: none;
}
#portfolio-btn-back button {
    display: none;
    outline: 0;
    border: 0;
    background: #C1968F;
    border-radius: 44px;
    font-family: Nunito Bold,sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 20px 12px 49px;
    position: relative;
    transition: 0.3s all ease;
}
#portfolio-btn-back button:hover {
    background: linear-gradient(180deg, #B78781 0%, #8A5C56 100%), #C1968F;
    box-shadow: 0 2px 8px rgba(55, 14, 29, 0.1);
}
#portfolio-btn-back button::after {
    content: url("../images/portfolio-back.png");
    position: absolute;
    top: 14px;
    left: 20px;
}
.portfolio-gallery-container {
    position: relative;
}
.portfolio-gallery-container .portfolio-container-text {
    bottom: -116px;
    left: 406px;
}
.adaptive-menu-block {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(55, 14, 29, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.adaptive-menu-container {
    width: 290px;
    background: #F8F3F0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.menu-items {
    margin-top: 20px;
}
.adaptive-menu-close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.adaptive-menu-container .main-number {
    text-align: center;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-items a {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #370E1D;
    font-family: Nunito Bold, sans-serif;
    font-size: 14px;
    line-height: 19px;
    transition: 0.2s all ease;
    text-decoration: none;
}
.adaptive-menu-container .call-back-btn {
    margin-bottom: 50px;
}
.burger {
    display: none;
}
#main-img-adaptive {
    display: none;
}
#about-img-right {
    display: none;
}
#quote-img-adaptive {
    display: none;
}
.arrows-adaptive {
    display: none;
}
#stock-img-butterflies {
    display: none;
}
#bells-adaptive {
    display: none;
}
.scroll-top {
    display: block;
    position: fixed;
    bottom: 0;
    opacity: 0;
    right: 15px;
    z-index: 99;
    transition: 0.4s;
}
.scroll-top svg:hover {
    fill: #8A5C56;
}
.scroll-top svg{
    transition: 0.2s;
    fill: #C29892;
}
.active {
    opacity: 1;
    bottom: 20px;
}
#stock-img-butterflies1 {
    display: none;
}
#stock-img-butterflies2 {
    display: none;
}
#stock-img-butterflies3 {
    display: none;
}
.flowers-item {
    display: none;
}